<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="a_setting" value="a_value"/>
  </appSettings>

  <connectionStrings>
    <add name="Default" connectionString="Data Source=(local);Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>
